<ion-app>
  <ion-content>
    <ion-menu contentId="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-title>Menu Despliege</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">WELCOME</ion-content>
    </ion-menu>
    <div class="ion-page" id="main-content">
      <ion-header>
        <ion-toolbar color="tertiary">
          <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-card >
          <ion-card-header>
            <ion-avatar>
              <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
            </ion-avatar>
            <ion-card-title>DAYANA PINELA</ion-card-title>
            <ion-card-subtitle>Futura ingeniera de Sistemas</ion-card-subtitle>
          </ion-card-header>

          <ion-card-content>
            Desarrollar habilidades sólidas de resolución de problemas y depuración de errores.
          </ion-card-content>
          <ion-card-content>

            Participar activamente en la comunidad de desarrollo web, colaborar con otros profesionales y aprovechar
            oportunidades de aprendizaje.

          </ion-card-content>
        </ion-card>
      </ion-content>
    </div>
  </ion-content>

</ion-app>